body{margin-top:30px;}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

.brouse_file {
    margin: 30px 0;
}
.thumb{
	width: 300px;
	height: auto;
	border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    padding: 5px;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img.small-thumb {
    width: 150px;
    max-width: 100%;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    padding: 5px;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.photo-row {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #ccc;
}
.well {
    display: inline-block;
    width: 100%;
}
.success {
    color: green;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;
}
.error {
    color: #e41717;
    font-weight: bold;
    font-size: 18px;
    margin: 20px 0;
}
/*login*/
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
.form-signin img {
    border-radius: 50%;
    background-color: #4169E1;
    background: linear-gradient(to top, #1A4780, #4169E1);
    position: relative;
    box-shadow: 0 0 5px #000;
}