/*nav{
    background: #000;
    padding: 15px 10px;   
    color:  #000;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
}
nav li{
    display: inline-block;
    vertical-align: top;
}
nav a{
    color: #000;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 0.3s;
}
nav a:hover{
    border: 1px solid #fff;
}
*/
input[type="checkbox"] {
    display: none;
}
nav label {    
    display: none;
    border: 1px solid  #000;   
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
}
nav label:hover{
    color: #f00;
    border: 1px solid #f00;
}


    .dropdown {display: none;}

@media screen and (max-width: 500px) {
    
    nav label{
         display: inline-block;
    }
    nav > ul {
        display: none;
    }
    input[type="checkbox"]:checked ~ label + ul {
        display: block;
    }
    
}


@media (max-width: 360px) and (orientation:portrait)   { 
    .nav { height: 260px; }
    .menu__nomobile {display: none; background-color: green; !important }
    .dropdown {display: inline;}
    } 