html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*


} */

.glyphicon-chevron-left:before {
    content: "\e079";
}

.glyphicon-chevron-right:before {
    content: "\e080";
} /*

*/
/*
*/

ol,
ul {
    list-style: none;
}

body {
    font-family: 'Play', sans-serif;
    height: 100%;
}
*:focus {
    outline: none;
}

/* Header
-----------------------------------------------------------------------------*/

.header {
    height: 150px;
    background-color: #4169E1;
    background: linear-gradient(to top, #4169E1, #1A4780);
}
/*

/* Middle
-----------------------------------------------------------------------------*/

.content {
    height: 100%;
}
/* Carousel
-----------------------------------------------------------------------------*/

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
 /*   height: 240px;*/
    
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.carousel {
    position: relative;
    height: 100%;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    line-height: 1;
}


.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block;
}

.carousel-inner > .active {
    left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner > .next {
    left: 100%;
}

.carousel-inner > .prev {
    left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0;
}

.carousel-inner > .active.left {
    left: -100%;
}

.carousel-inner > .active.right {
    left: 100%;
}

.carousel-control, .works-carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5;
}
.works-carousel-control {
    
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-repeat: repeat-x;
}

.carousel-control:hover,
.carousel-control:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
}

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
    width: 20px;
    height: 20px;
    font-family: serif;
    line-height: 1;
}

.carousel-control .icon-prev:before {
    content: '\2039';
}

.carousel-control .icon-next:before {
    content: '\203a';
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.carousel-caption .btn {
    text-shadow: none;
}
main {
    min-height: calc(100vh - 294px);
    position: relative;
    padding-bottom: 32px;
}
ul.pagination {
    position: absolute;
    bottom: 0;
    left: 35%;
}
@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        font-size: 30px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-left: -10px;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: -10px;
    }
    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 30px;
    }
    .carousel-indicators {
        bottom: 20px;
    }
}

/************************************************************************************/

/*---------------------------------*/

.title-unit {
    height: auto;
    padding: 0;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.titlesw-unit {
    height: 100%;
    padding: 0 5%;
    /*  padding:;  */
    font-size: 18px;
    text-indent: 5%;
}

.title-page {
    height: 150px;
    background-image: url(../img/title-bg.jpg);
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 120px;
}

.filling-page {
    padding-left: 10%;
    padding-right: 10%;
}
.filling-page__indexCards {
    padding-left: 30px;
    padding-right: 10%;
}

/*---------------------------------*/

.logomanufacturers {
    text-align: center;
    height: 100%;
}

.logomanufacturers ul {
    margin: 2em 0 2em;
    list-style: none;
}

.logomanufacturers ul li {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    width: 13%;
}

.logomanufacturers ul li img {
    width: 100%;
}

/*---------------------------------*/

.howweareworking {
    height: 280px;
    width: 100%;
    background: #4CBB17;
    background: linear-gradient(to top, #4CBB17, #228B22);
    font-size: 18px;
    margin-bottom: -30px; 
   /* margin-top: -23px; */
}

.how-body {
    float: left;
    width: 25%;
    height: 200px;
    text-align: center;
    color: white;
}

.how-title {
    height: 50px;
    text-align: center;
    padding-top: 20px;
}

.how-title > p {
    font-size: 25px;
    color: white;
}

.how-body p {
    margin: 10% 10px auto;
}

/*---------------------------------*/

.whyus {
    font-size: 13px;

}

.whyus li {
    vertical-align: top;
    width: 31%;
    display: inline-block;
    padding: 30px 0.5%;
}

.badge {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50px;
    background-color: #FF7E00;
    margin-right: 10px;
}

.badge span {
    color: white;
    font-size: 30px;
    padding: 35%;
}

/*---------------------------------*/

.trans-company-list {}

.trans-company-list li {
    width: 15%;
    display: inline-block;
    vertical-align: top;
}

.trans-company-list img {
    width: 100%;
}

/*---------------------------------*/

.contacts {
    float: center;
    width: 40%; 
    margin-left: 125px;    
}

.phone-main, .phone-second, .mail {
    padding-left: 3%;
}

.map {
    float: left;
    height: 200px;
    width: 40%;
    margin-top: -410px;
    margin-left: 625px;
}

/*---------------------------------*/

/* Footer
-----------------------------------------------------------------------------*/

.foot-wr {
    position: fixed;
    bottom: 0;
    left: 0;
  /*  width: 100%;  */
}
.foot {
    display: block;
    margin: 0 auto;
    /*min-width: 1000px;*/
   /* max-width: 1366px; */   
    height: 100px;
    background-color: #4169E1;
    background: linear-gradient(to top, #1A4780, #4169E1);
    position: relative;
    box-shadow: 0 0 5px #000;
    z-index: 10;
}
.f-logo-l img {
    position: absolute;
    top: 15px;
    left: 15%;
    height: 70px;
}
.f-logo-r img {
    position: absolute;
    top: 15px;
    right: 15%;
    height: 70px;
}
.f-title {
    text-align: center;
    padding-top: 40px;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
}
.p-public {
    text-indent: 30px;
    text-align: left;
}
.h1-public {
    font-size: 20px;
    margin: 15px;
    text-align: center;
}
.h2-public {
    font-size: 18px;
    margin: 15px;
    text-align: center;    
}
.image-public {
    display: block;
    margin: auto;
}
.filling-page-public {
    ;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 30%;
}
.background-public {
    background-color: #E9F4C8;
}
.article-position {
    padding-top: 20px;
    padding-bottom: 25px;
}
.ourworks_description {
    font-family: sans-serif;
    font-size: 16px;
}
.filling-page-public-our {
    ;
    margin: 0;
}
.p-sell {
    text-align:center;    
}
.p-sell-bottom {
    text-align:center;
    margin-bottom: 10px;
}
.img-sell {
	margin:30px;
	cursor:zoom-in;
    max-width: 300px;
    max-height: 225px;
    margin: 5px 15px 5px;    
}
.popup {
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;    
}
.popup_bg {
	background:rgba(0,0,0,0.3);
	position:fixed;
	z-index:1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: auto;
  height: auto;   
}
.popup_img {
	position: fixed;
	z-index:2;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
    z-index: 51;
	max-height: 90%;
}
.popup_img {
  pointer-events: none;    
}

.main-motors {width: 100%;}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topmenu > li {
  display: inline-block;
  position: relative;
}
/*
.submenu {
  background: #F8F8FF;
  border: 2px solid #C0C0C0;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  width: 155px;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: .6s ease-in-out;
  z-index: 55;
}
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: perspective(600px) rotateX(0deg);
  z-index: 57;    
}
.submenu li {
    display: block;
    float:none;
    border-bottom:1px solid #C0C0C0;
    z-index: 56;
}
*/
 .content__sellForm__button {   
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .0.5em .0.5em .1em #800;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);   
    text-align: center;
    text-decoration: none;
    display: inline-block;   
    text-shadow: 0 -1px 1px #777;   
    padding: 0;
    font-weight: 700;
    border: 1px solid rgb(250,172,17);
    border-radius: 5px;
}/*
.header__buttonCall {
    width:130px;
    height: 70px;   
    margin-top:-95px;
    float: right;
    margin-right: 15px;
}*/
.content__sellForm__button:hover {
    cursor: pointer;
} 
.content__sellForm__button {    
    width:150px;
    height: 50px;     
/*    margin-left: 51%; */
    position: absolute;    
    margin-top: -53px;
    margin-left:51%;
}
.repair_btn_block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row nowrap;
}
.repair_btn_block > div {
    width: 50%;
}
.repair_sellForm{
    max-width: 350px;
    width: 100%;
    position: static;
    margin: 0 auto;    
}
.list_works{
    padding-left: 6%;
}

.header__buttonCall:hover, .content__sellForm__button:hover, .carousel-inner__item__buttonDetails__button:hover, .index_detailsCards_box button:hover, {  
  transform: scale(1.1);
  transition: 0.15s;  
  cursor:pointer;
}
.header__buttonCall:active, .content__sellForm__button:active, .carousel-inner__item__buttonDetails__button:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  border-color: rgba(177,159,0,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);  
}

.header__buttonCall__text {
    max-width: 100%;
    word-break: break-all;
    overflow-x: hidden;
    padding:0;
    color: #fff;
    text-shadow: 0 -1px 1px #777;
    outline: none;
}

.carousel-inner__item__buttonDetails__button {
    height: 70px;
    width: 120px;
    color: #fff;
    text-shadow: 0 -1px 1px #777;
    font-weight: 700;
}
.nav__drop__iconText::after {
    width:15px;
    height: 15px;    
}
.nav__drop__icon {
    width:10px; height:10px; margin-left:5px;
}
.index__carousel__text, .index__carousel__textOneString, .index__carousel__textUp, .index__carousel__textRasxodomer, .index__carousel__textRasxodomerCor, .index__carousel__textRasxodomerVp, .index__carousel__service {
    position: absolute; left:20%; color:white;  font-size: 1.7em; font-weight: bold; max-width:30%; font-family:sans-serif;
}

.index__carousel__text, .index__carousel__textOneString {top:35%;}
.index__carousel__textUp {top:25%;}
.index__carousel__textRasxodomer {top:20%; font-size: 1.5em;}
.index__carousel__textRasxodomerCor {top:10%; font-size: 1.3em;}
.index__carousel__textRasxodomerVp {top:7%; font-size: 1.2em;}
.index__carousel__service {top:7%; font-size: 1.25em;}


.index__carousel__text__datails {
    text-decoration: none;
    font-size:0.7em;
    color:#fff;
}

.index_detailsCards_box:hover {transform: scale(1.1);
  transition: 0.15s;  
  cursor:pointer;}

.carousel-inner__item__buttonDetails {
   position: absolute;  left:15%; color:white;  font-size: 1em; max-width:30%; text-decoration: none; top:15%; 
}
.slick-slide img {
    margin: 7px auto!important;
}
.repair_block {
    margin-bottom: 120px;
    outline: #DCDCDC solid 3px; width:100%; margin-right: -60px; margin-left: 5%;
}
.repair_block h2 {
    text-align: right;
}
.flex_top_row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row nowrap;
}
.flex_top_row > div {
    width: 50%;
}
.index_carousel-inner_img {
    margin-left: 57%;
}
.index_carousel-inner_img_encoder, .index_carousel-inner_img_ibp {margin-left: 53%;}
.index_carousel-inner-spisok_img {
    margin-left: 53%;
}

/********* custom select */

/** Custom Select **/
.select_wrap {
    display: inline-block;
    width: 31.3333333%;
    margin: 1%;
}
.top_wrap{
  display: inline-block;
  width: 100%;
  position: relative;
}
.search-bar {
    position: absolute;
    right: 5%;
    top: 36%;
}
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
  .custom-select-wrapper select {
    display: none;
  }
  .custom-select {
    position: relative;
    display: inline-block;
  }
    .custom-select-trigger {
      position: relative;
    display: block;
    width: 251px;
    padding: 8px 84px 8px 22px;
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    background: #5c9cd8;
    border-radius: 4px;
    cursor: pointer;
    }
      .custom-select-trigger:after {
        position: absolute;
        display: block;
        content: '';
        width: 10px; height: 10px;
        top: 50%; right: 25px;
        margin-top: -3px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg) translateY(-50%);
        transition: all .4s ease-in-out;
        transform-origin: 50% 0;
      }
      .custom-select.opened .custom-select-trigger:after {
        margin-top: 3px;
        transform: rotate(-135deg) translateY(-50%);
      }
  .custom-options {
    position: absolute;
    z-index: 10;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
  }
  .custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
    .custom-options:before {
      position: absolute;
      display: block;
      content: '';
      bottom: 100%; right: 25px;
      width: 7px; height: 7px;
      margin-bottom: -4px;
      border-top: 1px solid #b5b5b5;
      border-left: 1px solid #b5b5b5;
      background: #fff;
      transform: rotate(45deg);
      transition: all .4s ease-in-out;
    }
    .option-hover:before {
      background: #f9f9f9;
    }
    .custom-option {
      position: relative;
      display: block;
      padding: 10px 22px;
      border-bottom: 1px solid #333;
      font-size: 18px;
      font-weight: 600;
      color: #333;
      line-height: 1.3;
      cursor: pointer;
      transition: all .4s ease-in-out;
    }
    .custom-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    .custom-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
    .custom-option:hover,
    .custom-option.selection {
      background: #f9f9f9;
    }



/* end custom select */
.product-one.catalog{max-width: 1170px; width: 100%; margin:0 auto; display:flex; flex-wrap:wrap; }
.product-one.catalog .product_row_button {display: none;}
/* catalog slide start */

.product-one.single{max-width: 1170px; width: 100%; margin:0 auto; display:flex; flex-direction:column; justify-content:center; flex-wrap:wrap; align-content:flex-start;}
.product-one .list_works {margin-left: 0;}
.product-row, .product_row_button {display: flex; flex-flow: row nowrap; justify-content: space-between;}
.product_row_button{justify-content:flex-start;}
.product-row > div, .product_row_button > div {width: 45%;}
.product_row_button > div:first-child{text-align: center;}

.content__sellForm__button_stanki {margin-left:51%;}

/* catalog slide end */
/*
@media (min-width:1900px) {
.index_cards_list_works {margin-left:-3em;}    
}
@media (min-width:1800px) and (max-width:1860px) {
.index_cards_list_works {margin-left:-5em;}    
}
@media (min-width:1770px) and (max-width:1899px) {
.index_cards_list_works {margin-left:0;}    
}
@media (min-width:1600px) and (max-width:1769px) {
.index_cards_list_works {margin-left:5em;}    
}
@media (min-width:1600px) and (max-width:1650px) {
.index_cards_list_works {margin-left:8em;}    
}
@media (min-width:1000px) and (max-width:1600px) {
.index_cards_list_works {margin-left:10em;}    
}*/
@media (max-width:1000px) {
.pages__linkOurWorks__button, .pages__content__searchForm_input {display: none;}
    index_car_slider {display: block; max-width: 100%; min-width: 100%;}
}

@media (min-width:1600px) {    
    .phone-main, .phone-second, .mail {padding-left: 7%;}
    .index_sale {margin-left: -50px;}
    .index__carousel__service {top:12%;}
}

@media (min-width:1670px) and (max-width: 1795px) {
    .index_sale {margin-left: 15px;}     
}
@media (max-width: 375px) {
.salesUp, .index_sale {display: none;}
}
@media (max-width:800px) {
    .index__content__searchForm input, .index__content__searchForm__button {display: none;}
   .salesUp .index_sale {display: none;}
}
/*
@media (max-width:1366px) {
    .header, .nav, .content, .foot, .container, .n-menu, .menu { max-width:1366px; 
     overflow-x:hidden; overflow:hidden;}
    body {overflow-x:hidden;margin:auto;}
    .main-motors {width: 100%;}    
}
@media (min-width:1310px) {
    .phone-main, .phone-second, .mail {margin: auto auto;}     
}*/

@media (max-width:1300px) {
  .index__carousel__text {top:30%;}
  .index__carousel__textUp {top:15%;}  
  .index__carousel__textOneString {top:35%;}
  .index__carousel__textRasxodomer {top:15%;}
 .index__carousel__textRasxodomerCor, .index__carousel__textRasxodomerVp {top:5%;}    
    .index__carousel__textRasxodomerVp {font-size: 1em; max-width: 45%;}
    .index__carousel__service {font-size:1.2em; line-height: 1.2em;}
    .index__carousel__text__datails_vr {font-size:0.9em}
   
    
}
@media (max-width:1000px) { 
.index__carousel__service {font-size:1em; line-height: 1em;}
}
/*
@media (min-width:992px) and (max-width: 1199px) {
    .header, .nav, .content, .foot, .container, .n-menu, .menu {min-width:992px; max-width:1199px; 
     overflow-x:hidden; overflow:hidden;}
    body {overflow-x:hidden;}
    .header__fontSize {font-size:0.7em;}
     
}

@media (max-width:1060px) {
    .header__fontSize__part2 {display: none;}
}

@media (max-width:1190px) {    
    .h-contacts {float: right; margin-right: 5%;}
}

@media (min-width:769px) and (max-width: 979px) {
.header, .nav, .content, .foot, .container, .n-menu, .menu {min-width:769px; max-width: 979px;
     overflow-x:hidden; overflow:hidden;}
    body {overflow-x:hidden;}
}


*/
@media (max-width:768px) and (orientation:portrait)   {
   /* .map {display: block; margin-left: -40%; width: 100%;height: 60%;}*/
    .contacts {display:block;width: 100%; margin-left:3%;padding: 0;}
   /* .map {margin: auto;margin-left:2%;; margin-bottom: 15%; max-width:95%;} */
    
}/*
@media (min-width:765px) and (max-width:768px) and (orientation:portrait)   {
.header, .nav, .content, .foot, .container, .n-menu, .menu {max-width:768px; 
     overflow-x:hidden; overflow:hidden;}
    body {overflow-x:hidden;}
    .f-title {text-align: left; max-width: 90%; margin-left: 25%; padding-top: 20px; margin-top: 2%;font-size: 0.9em}   
    .f-logo-r img {position: absolute; right: 13%; top:12%;}    
    .badge {margin: 5px;}
    .about-us-text {word-break: normal;padding-left: 0px;overflow:hidden;}
    .filling-page-whyus {width: 100%; margin:0; padding:0; }    
}*/
@media (max-width: 979px) {
    .index__carousel__text, .index__carousel__textUp, .index__carousel__textOneString, .index__carousel__textRasxodomer, .index__carousel__textRasxodomerCor, .index__carousel__textRasxodomerVp {font-size: 1em;}    
}/*
@media (max-width:480px) {
    
}
*/
@media (max-width:480px) {
/*.header, .nav, .content, .foot, .container, .n-menu, .menu { max-width: 480px;}
    body {overflow-x:hidden;}
    .header {position: relative; height: 350px; background-color: #4169E1;}    
    .h-logo {position: absolute; margin-left: 15%; margin-top: -2%; }
    .h1-main-page {position: absolute; top:30%; left: 20%; }
    .h2-main-page {position: absolute; top:45%; left: 2%; } 
    .h2-main-page {max-width:400px; }
    .phone-main {position: absolute; top:65%; left: 20%;} 
    .phone-second {position: absolute; top:75%; left: 20%; }
    .mail {position: absolute; top:85%; left: 20%; }
    .main-motors {width:100%;}
    .nav {height: 380px;} 
    .menu {list-style-type: none; padding-left: 0; margin-left: 0;}     
    .main-motors {width:100%;}
     .card-img-top {max-height:150px;}
    .how-body p {zoom:75%;}
   .how-body p img {font-size:1em;}
    .logomanufacturers ul li {height: 15px;}    
    .f-title {text-align: left; max-width: 90%; margin-left: 30%; padding-top: 20px; margin-top: 2%;}
    .f-logo-r img {display: none;}
    .f-logo-l img {position: absolute; left: 5%; top:12%;} */
    .index__carousel__text, .index__carousel__textUp, .index__carousel__textOneString, .index__carousel__textRasxodomer, .index__carousel__textRasxodomerCor, .carousel-indicators, .index__carousel__textRasxodomerVp {display:none;}
    .index__content__search, .index_sale_stanki, .index_stankiAction_text {display: none;}
    .content__sellForm__button {margin-left: 30%;}
} 
/*
@media (max-width:414px) {
    .map {margin: auto;}
}*/
@media (max-width:412px) {
    /*.map {margin: auto;margin-left:2%;; margin-bottom: 25%; max-width:95%;}  */
    .index__carousel__text, .index__carousel__textUp, .index__carousel__textOneString, .index__carousel__textRasxodomer, .index__carousel__textRasxodomerCor, .carousel-indicators, .index__carousel__service {display:none;}
    .index_carousel-inner_img, .index_carousel-inner_img_encoder, .index_carousel-inner_img_ibp, .index_carousel-inner-spisok_img {margin: auto;}
    .salesUp, .index_sale {display: none;}
    .content__sellForm__button {margin-left: 30%;}    
}
 
@media (max-width: 375px)  {
 /*   .map {margin: auto;margin-left:2%;; margin-bottom: 25%; max-width:95%;}  */
   .index__carousel__text, .index__carousel__textUp, .index__carousel__textOneString, .index__carousel__textRasxodomer, .index__carousel__textRasxodomerCor, .carousel-indicators, .index__carousel__service {display:none;}
    .salesUp, .index_sale {display: none;} 
    .content__sellForm__button {margin-left: 30%;}  
    
}
 /*

} */
    
/* cards  */
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  max-width: 25%;
    
}

.card::child(1,5,9) {  
 /* margin-left: 50px; */    
}

.card::child(4,8) {
  /*margin-right: 50px;  */
    
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.7rem 1.25rem 0.7rem;
}

.card-title {
/*  margin-bottom: 0.75rem;*/
  font-size: 1em;
  text-align:center;
  font-weight: bold;    
}

/*.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}*/

.card-text {
  margin-bottom: 0;
  text-align:center; 
  list-style: none; 
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem; 
  margin-bottom: -0.75rem;
  margin-left: -0.625rem; 
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);  
}

.card-img-top {
  max-width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  height:auto;
/*   margin-top:-20px; */
}
.card-img-top:hover {
 transform: scale(1.2);
 transition: 0.3s;
 opacity: 0.8;
 cursor: pointer;
}


.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;    
  justify-content: center;
  max-width: 1365px;
    flex-wrap:wrap;
}

.card-group > .card {
  margin-bottom: 15px;
 /*  flex-basis: 25%; */
}

@media (max-width: 1200px) {
  .product-one{
    padding-left: 15px;
    padding-right: 15px;
    box-sizing:border-box;
  }
 }

 @media (max-width: 600px) {
  .product-row, .product_row_button{
    flex-flow: row wrap;
  }
  .product-row > div, .product_row_button > div {
    width: 100%!important;
  }
 }

@media (min-width: 576px) {
  .card-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .card-group > .card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:first-child .card-img-top,
  .card-group > .card:first-child .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:first-child .card-img-bottom,
  .card-group > .card:first-child .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:last-child .card-img-top,
  .card-group > .card:last-child .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:last-child .card-img-bottom,
  .card-group > .card:last-child .card-footer {
    border-bottom-left-radius: 0;
  }
  .card-group > .card:only-child {
    border-radius: 0.25rem;
  }
  .card-group > .card:only-child .card-img-top,
  .card-group > .card:only-child .card-header {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .card-group > .card:only-child .card-img-bottom,
  .card-group > .card:only-child .card-footer {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) {
    border-radius: 0;
  }
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-header,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
    border-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;      
  }
}

.index__content__searchForm, pages__content__searchForm {      
/* position: relative; */
 position: absolute;    
    width: 300px;
    display: inline-block;
    bottom:30px;
}
.pages__content__searchForm {    
    margin-top: 0;
}
.index__content__search, .pages__content__search {    
    display: inline-block;
    background: #A3D0C3;
    box-sizing: border-box;       
    margin-left: 70%;    
}

.pages__content__search {
    position: relative; width: 300px; margin-left: -1rem; top: -44rem;
}

.repair_search {
    margin-left: auto;
    top: auto;
    max-width: 300px;
    width: 100%;
    margin-top: 25px;
}

.index__content__search input, .pages__content__search input {
  width: 100%;
  height: 45px;
  padding-left: 10px;
  border: 2px solid #3A63CE;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;   
}
.index__content__searchForm__button, .pages__content__searchForm__button {
  position: absolute; 
  top: 0;
  right: 0;
  width: 42px;
  height: 42px;
  border: none;
  background: #3A63CE;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  height: 100%;
  margin-right: -5%;
  display: block;
}

.index__content__searchForm__button:before, .pages__content__searchForm__button:before {
  position: absolute;
  content: url(../img/search-white.png);   
  color: #F9F0DA;  
  margin-left: 27%;
  top:14px;  
}
/* index__searchForm end  */

/* Fixed menu */
.nav--clone {

  /* Required styles */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  /* Additional styles */
  background: #c95a5d;

  /* Translate -100% to move off screen */
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);

  /* Animations */
  -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;

}
.index_detailsCards_box {     
    width: 200px;
    margin: 10px auto;
    word-break: normal;
    word-wrap: normal;
    
}
.index__content__buttonDetails {
   /* background-color:aqua; */
    height:60px;
    background: linear-gradient(to top, #3E66DA, #3760C7);
    border-radius: 10px;
    color: #fff;
}

.pages__linkOurWorks__button:hover {
    cursor: pointer;
}

.pages_cards_li {
    list-style-position: outside;
    list-style-type: "\2714";
}    

.cardPagesHeader {margin: 1.8em 0 0.8em; font-size: 15px; 	color: #FF7E00; font-weight:bold;}

/*mail form */
* {box-sizing: border-box;}
.transparent {
  position: relative;
  max-width: 400px;
  padding: 60px 50px;
  margin: 50px auto 0;
  background-image: none;
  background-size: cover;
  padding-top:0;
}
.transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none;
}
.form-inner {position: relative;}
.form-inner h3 {
  position: relative;
  margin-top: 0;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 26px;
  text-transform: uppercase;
}
.form-inner h3:after {
  content: "";
  position :absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 60px;
  background: #1762EE;
}
.form-inner label {
  display: block;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  color: #696969;
  text-transform: uppercase;
  font-size: 14px;
}
.form-inner input {
  display: block;
  width: 100%;
  padding: 0 15px;
  margin: 10px 0 15px;
  border-width: 0;
  line-height: 40px;
  border-radius: 20px;
  color: #696969;
  background: #fff;
  font-family: 'Roboto', sans-serif;
}
.form-inner input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
#custom-checkbox + label {
  position: relative;
  margin: 20px 0;
  text-transform:none;
  cursor: pointer;
}
#custom-checkbox + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: text-top;
  background: white;
}
#custom-checkbox:checked + label:before {background: #1762EE;}
#custom-checkbox:checked + label:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  left: 20px;
  top: 9px;
  background: white;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}
.form-inner input[type="submit"] {background: #1762EE; color:#fff; font-size:1em;}
 
.btn {
   display: block;
  width: 100%;
  padding: 0 15px;
  margin: 10px 0 15px;
  border-width: 0;
  line-height: 40px;
  border-radius: 20px;
  color: #fff;
  background: #1762EE;
  font-family: 'Roboto', sans-serif;
    font-size:1em;
    
}
.form-main {
    z-index: 200;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.7);
}
.form-main form textarea {
    max-width: 100%;
}
.form-main form,
.form-main .form-wrap {
    max-width: 320px;
    margin: auto;
    background-color: #eee;
    padding: 20px 15px;
    position: relative;
}
.form-wrap {
    max-height: calc(100vh - 9%);
    overflow-y: scroll;
} 
span#close {
    position: absolute;
    top: 8px;
    left: calc(50vw + 150px);
    z-index: 99999;
    color: #fff;
}
.form-main .close {
    position: absolute;
    right: 15px;
    top: -5px;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}
.form-button:hover {
  transform: scale(1.07);
  transition: 0.15s;  
}
.form-button:active {
  background-color: #7CFC00;  
}

/*mail form */
.card-group {margin:auto auto;}
.slider-down__text {text-align: center;}
 
/*contact-form viezd begin/*

/* The container */
.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: -4px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: #D3D3D3;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
    position: absolute;
    top: 35%;
    left: 35%;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.container-radio__span {margin-left: 20px;}
.index_howweareworking_how-body_img {height:100px;}
/*contact-form viezd end*/
.indexCard__right_block__ul {
    padding-left: 10%; max-width: 600px; padding-right: 15px; margin-bottom: 10px;
}
.index_sale_stanki {position: absolute; top:-10px; left:38%; color:#fff; font-size: 1.2em; word-wrap:break-word; max-width:35%; transform: scale(0.9);}
/*@media (min-width:1890px) {
    .index_sale_stanki {left:38%;}
}*/
@media (max-width:480px) {
.card-group {flex-direction: row;}
    }
@media (max-width:900px) {
    .card {max-width:50%;}
    .index_detailsCards_box {display: none;}
}
@media (max-width:500px) {
    .card, .card-body, .card-group {max-width:100%; width: 100%; flex-basis: 100%;}
    .index_detailsCards_box {display: none;}
    .index_howweareworking_how-body_img {transform: scale(0.6);}
    .index_howweareworking_how-body_p {font-size: 0.8em;}
    .howweareworking {margin-top: 80px;}
    .how-body {margin-left: -8px;}
    .index_sliderTop_item {height: 200px;}
    .index_carousel-inner_img {transform: scale(0.8);margin: auto;}    
    .index__carousel__text__imgUp {margin-top: -5%;}
    .index_sliderBottom_img {transform: scale(0.8);}
}
@media (max-width:500px) and (orientation:portrait) {
    .card-img-top {max-height: 11.25rem; transform: scale(0.8);}
    .slick-next {right: 25px;}
    .slick-prev {left: -5px;}
}
@media (max-width:375px) {
    .card, .card-body, .card-group {max-width:100%; width: 100%; flex-basis: 100%;}
    .index_detailsCards_box {display: none;}
    .index_howweareworking_how-body_img {transform: scale(0.5); margin-left: -2px;}} 
.how-body {margin-left: -5px;}
}
.contacts_main_h1 {
    margin-top: 1.25rem;
    font-size: 1rem; 
    font-weight:normal;    
}
.contacts_adress_tel {
    height: 31,25rem;
}
.contacts {margin-top: 0.625rem;}
.contacts_main_h3 {font-size: 1.25rem; font-weight: bold;}
/*.contacts_main_map-yandex {min-width:500px; max-width: 500px; height: 400px; }*/
.goriz_menu_width {max-width: 100%;}
nav {z-index: 10;}
html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body
{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

/* catalog start*/
/* end custom select */
.product-one.catalog{max-width: 1170px; width: 100%; margin:0 auto; display:flex; flex-wrap:wrap; }
.product-one.catalog .product_row_button {display: none;}
/* catalog slide start */

.product-one.single{max-width: 1170px; width: 100%; margin:0 auto; display:flex; flex-direction:column; justify-content:center; flex-wrap:wrap; align-content:flex-start;}
.product-one .list_works {margin-left: 0;}
.product-row, .product_row_button {display: flex; flex-flow: row nowrap; justify-content: space-between;}
.product_row_button{justify-content:flex-start;}
.product-row > div, .product_row_button > div {width: 45%;}
.product_row_button > div:first-child{text-align: center;}
/* catalog slide end */
@media (min-width:1900px) {
.index_cards_list_works {margin-left:-3em;}    
}
@media (min-width:1800px) and (max-width:1860px) {
.index_cards_list_works {margin-left:-5em;}    
}
@media (min-width:1770px) and (max-width:1899px) {
.index_cards_list_works {margin-left:0;}    
}
@media (min-width:1600px) and (max-width:1769px) {
.index_cards_list_works {margin-left:5em;}    
}
@media (min-width:1600px) and (max-width:1650px) {
.index_cards_list_works {margin-left:8em;}    
}
@media (min-width:1000px) and (max-width:1600px) {
.index_cards_list_works {margin-left:10em;}    
}
@media (max-width: 1200px) {
  .product-one{
    padding-left: 15px;
    padding-right: 15px;
    box-sizing:border-box;}
 }

 @media (max-width: 600px) {
  .product-row, .product_row_button{
    flex-flow: row wrap;}
  .product-row > div, .product_row_button > div {
    width: 100%!important;}
 }
/* catalog end*/